<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>  
    <%-include('./inc/nav')%>

    <section>
        <h1>Admin nasayfa</h1>
        <a href="/admin/add">Yeni ihale ekle</a>
        <h2>İhaleler</h2>
        <ul>
            <% tenders.forEach(tender => { %>
                <li>
                    <p><%=tender.title%></p>
                    <a href="">Delete</a>
                </li>
            <% }) %>
            
        </ul>

    </section>
</body>
</html>