<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>  
    <%-include('./inc/nav')%>

    <h1>Anasayfa</h1>
    <section>
        <h1>İhaleler</h1>
        <ul>
            <li>
                <a href="#">İhale 1</a>
                <p>Detay</p>
                <p>status</p>
                <p>minPrice</p>
            </li>
            <li>
                <a href="#">İhale 2</a>
                <p>Detay</p>
                <p>status</p>
                <p>minPrice</p>
            </li>
            <li>
                <a href="#">İhale 3</a>
                <p>Detay</p>
                <p>status</p>
                <p>minPrice</p>
            </li>
        </ul>
    </section>
</body>
</html>