<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>  
    <%-include('./inc/nav')%>

    <section>
        <h1>Login</h1>
        <form action="" method="POST">
            <input type="text" name="username" placeholder="Kullanici adi" required>
            <input type="password" name="password" placeholder="Sifre" required>
            <input type="submit" value="Gonder">
        </form>
    </section>
</body>
</html>